<html>
  <head>
    <title>Hello from host {{ inventory_hostname }} </title>
  </head>
  <body>
  <h1>This is our test webserver</h1>
  <p>This nginx deployed by Ansible version {{ ansible_version.full }}  and by the Ansible role {{ role_name }}.</p>

  </body>
</html>