[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "~=0.15.2"
pytest = "*"
cdktf-cdktf-provider-aws = "~=12.0.2"
constructs = "*"
