- name: Example-2 Variables Playbook
  hosts: all
  
  tasks:
  - name: Run a script and register the output as a variable
    shell: "find example_file"
    args:
      chdir: "/tmp"
    register: example_script_output
  - name: Use the output variable of the previous task
    debug:
      var: example_script_output